/**************************************************
 CLEAR FIX
**************************************************/

%clearfix {
  zoom: 1;
  &:before,
  &:after {
    display:table;
    visibility:hidden;
    content:"";
  }
  &:after {
    clear:both;
  }
}

/**************************************************
 SITE COLUMN
**************************************************/

%site-col {
  min-width: 810px;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}