/* ******************************************************************************
 *
 * Font Stacks
 *
 ****************************************************************************** */

$sans-serif: 'Helvetica Neue', Helmet, Freesans, sans-serif;
$monospace: 'courier new', monospace, serif;

/* ******************************************************************************
 *
 * Font Usage
 *
 ****************************************************************************** */

$body-font: $sans-serif;
$headline-font: $sans-serif;
$code-font: $monospace;

/* ******************************************************************************
 *
 * Colors
 *
 * By Color Name
 *
 ****************************************************************************** */

$black: #000;
$x-dk-gray: #333;
$dk-gray: #666;
$gray: #999;
$lt-gray: #aaa;
$x-lt-gray: #ddd;
$white: #fff;

/* ******************************************************************************
 *
 * Colors
 *
 * By Usage Name, reference the color variables above, use the variables below
 * in the actual SASS partials throughout the site.
 *
 ****************************************************************************** */

$body-text: $black;
$body-bg: $white;

$selection-text: $black;
$selection-bg: transparentize($lt-gray, 0.5);

$border-color: $dk-gray;

/* ******************************************************************************
 *
 * Site specific variables
 *
 ****************************************************************************** */

$base-size: 10;