/**************************************************
 FONT STACKS
**************************************************/

$serif: 'Georgia', serif;
$sans-serif: 'Helvetica Neue', Helmet, Freesans, sans-serif;
$monospace: 'courier new', monospace, serif;

$playfair: playfair-display, serif;

/**************************************************
 FONTS IN USE
**************************************************/

$body-font: $serif;
$headline-font: $playfair;
$nav-font: $playfair;
$button-font: $playfair;
$code-font: $monospace;

/**************************************************
 COLOR PALETTE
**************************************************/

$black: #1a1a1a;
$x-dk-gray: #333;
$dk-gray: #666;
$gray: #999;
$lt-gray: #ccc;
$x-lt-gray: #e6e6e6;
$white: #fff;

$blue: #0512ff;

/**************************************************
 COLORS IN USE
**************************************************/

$body-text: $black;
$body-bg: $white;

$selection-text: $black;
$selection-bg: transparentize($blue, 0.5);

$link-color: $gray;
$link-hover: $dk-gray;

$border-color: $dk-gray;

/* Button Colors */
$top-button-color: $white;
$top-button-hover-color: $white;
$top-button-bg: $blue;
$top-button-hover-bg: $x-dk-gray;
$top-button-border: darken($blue, 25%);
$top-button-border-hover: $black;

/* Header Colors */
$boder-top: $x-lt-gray;
$sub-head-color: $gray;

/* Nav Colors */
$nav-bar-bg: $x-dk-gray;
$nav-link-hover: $blue;
$nav-link-color: $white;

/* About Colors */
$about-bg: lighten($blue, 30%);
$about-text: darken($blue, 30%);

/* Footer Colors */
$footer-bg: $blue;

/**************************************************
 SITE SPECIFIC VARIABLES
**************************************************/

$base-size: 10;
$side-padding: 6em;