/**************************************************
 DEFAULT TYPE STYLES
**************************************************/

h1, h2, h3, h4, h5, h6 {
  font-family: $headline-font;
}

h1 {
  @include font-size(42);
}

h2 {
  @include font-size(36);
}

h3 {
  @include font-size(24);
}

%base-type {
  @include font-size(16);
  line-height: 1.4;
}

p {
  @extend %base-type;
  margin-bottom: 1em;
}

li {
  @extend %base-type;
  margin-bottom: .25em;
}

ol { list-style: decimal; }
ul { list-style: square; }

ol, 
ul {
  margin: 1em 0 1em 2.5em;
}

address {
  @extend %base-type;
}

/**************************************************
 DEFAULT LINK STYLES
**************************************************/

a {
  @include transition;
  color: $link-color;
  text-decoration: none;
  &:hover, 
  &:focus {
    color: $link-hover;
  }
}