/* ******************************************************************************
 *
 * Default type styles
 *
 ****************************************************************************** */

h1, h2, h3, h4, h5, h6 {
}

h1, h2, h3 {
  @include font($headline-font,700);
}

h1 {
  @include font-size(32);
}

h2 {
  @include font-size(24);
}

h3 {
  @include font-size(18);
}

h4 {
}

h4, h5 {
}

h4, h5, h6 {
}

h5 {
}

h5, h6 {
}

h6 {
}

p {
  @include font-size(14);
  margin: 0 0 1em;
}

ol {
  list-style-type: decimal;
  li {
  }
}

ul {
  list-style-type: square;
  li {
  }
}

ul, ol {
  margin: 1em 0 1em 1.75em;
  li {
    @extend p;
    margin-bottom: 0.3em;
  }
  nav & {
    list-style-type: none;
    margin: 0;
  }
}

blockquote {
  p {
    font-size: 1em;
    margin: 0;
  }
}

small {
}

mark {
}

b, strong {
}

i, em {
}

ins, u {
}

del, s {
}

abbr {
}

sup, sub {
}

sup {
}

sub {
}

time {
}

address {
}

code, pre {
}

code {
}

pre {
}