/**************************************************
 ABOUT SECTION STYLES
**************************************************/

#about {
  background-color: $dk-blue;
  color: $white;
  article {
    @extend %site-col;
    padding: 0 6em;
    p {
      @include font-size(19);
      text-align: justify;
      span {
        @include font-size(30);
        margin-left: -.75em;
        color: $lt-blue;
      }
    }
  }
}