/**************************************************
 ABOUT SECTION STYLES
**************************************************/

#about {
  background-color: $about-bg;
  color: $about-text;
  article {
    @extend %site-col;
    padding: 0 18em 0 3em;
    p {
      @include font-size(18);
      span {
        @include font-size(30);
        margin-left: -.75em;
      }
    }
  }
}