/**************************************************
 CASE HISTORIES SECTION STYLES
**************************************************/

#cases {
  position: relative;
  .content {
    @extend %site-col;
  }
  h1 {
    color: $cases-headline-color;
    &:after {
      display: none;
    }
  }
}

.flex-direction-nav, {
  list-style: none;
  margin: 0;
  li {
    margin: 0;
  }
}

.flex-control-paging {
  list-style: none;
  margin: 0;
  text-align: right;
  li {
    @include inline-block;
  }
}