/**************************************************
 HEADER STYLES
**************************************************/

header {
  position: relative;
  border-top: 10px solid $x-lt-gray;
  padding-top: 15em;
  padding-bottom: 15em;
  background: $white url("../img/illustrations/help-building-01.png") 110% 80px no-repeat;
  @include break-up(1000){ background-position: 100% 80px; }
  @include break-up(1100){ background-position: 95% 80px; }
  @include break-up(1200){ background-position: 90% 80px; }
  .content {
    @extend %clearfix;
    @extend %site-col;
  }
  h1 {
    @include float;
    overflow: hidden;
    height: 0;
    width: 290px;
    padding-top: 70px;
    background: url("../img/logo/carrottllc-logo.png") 0 0 no-repeat;
    &:after {
      display: none;
    }
  }
  aside {
    margin-top: 1.9em;
    margin-left: 324px;
    padding-left: 3em;
    border-left: 1px solid $lt-gray;
    font-family: $playfair;
    text-align: left;
    p {
      @include font-size(18);
      margin: 0;
      color: $gray;
      line-height: 1.45;
    }
  }
  nav {
    @include transition;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 $side-padding;
    background-color: $white;
    border-top: 1px solid $x-lt-gray;
    &.sticky {
      @include box-shadow(transparentize($black, .75) 0 0 30px);
      position: fixed;
      z-index: 20;
      top: 0;
      bottom: auto;
      border-top: none;
      border-bottom: 1px solid $gray;
    }
    ol {
      @extend %site-col;
      overflow: hidden;
      margin-top: 0;
      margin-bottom: 0;
      list-style: none;
    }
    li {
      @include inline-block;
      @include font-size(18);
      padding-top: 1em;
      margin: 0 1.5em 0 0;
    }
    a {
      display: block;
      height: 2.5em;
      color: $dk-gray;
      font-family: $nav-font;
      &:hover {
        border-bottom: 5px solid $blue;
        color: $blue;
      }
    }
  }
}