/**************************************************
 PUBLICATIONS SECTION STYLES
**************************************************/

#pub {
  border-top: 20px solid $x-dk-gray;
  background: $white url("../img/illustrations/publications-01.png") 120% 50% no-repeat;
  @include break-up(1000){ background-position: 110% 50%; }
  @include break-up(1100){ background-position: 100% 50%; }
  @include break-up(1200){ background-position: 95% 50%; }
  @include break-up(1300){ background-position: 90% 50%; }
  @include break-up(1400){ background-position: 85% 50%; }
  h1 {
    color: $dk-blue;
  }
  article {
    @extend %site-col;
    ol {
      width: 70em;
      list-style: none;
      margin: 0;
    }
    li {
      @include font-size(17);
      margin: 1em 0 0;
      padding-top: 1em;
      border-top: 1px solid $lt-blue;
    }
  }
}