/**************************************************
 CONTACT SECTION STYLES
**************************************************/

#contact {
  padding-bottom: 9em;
  background-color: $dk-purple;
  border-top: 20px solid $lt-purple;
  article {
    @extend %clearfix;
    @extend %site-col;
  }
  h1 {
    color: $white;
  }
}

.location-info {
  @include float;
  width: 31%;
  margin-left: 3.5%;
  padding: .6em;
  background-color: $white;
  h4 {
    padding: .5em .375em .625em;
    color: $dk-purple;
  }
  address, p {
    margin: 3px 0 0;
    padding: .5em .75em;
    background-color: $x-lt-gray;
    span {
      color: $dk-gray;
    }
  }
  &.chicago {
    margin-left: 0;
  }
}