/**************************************************
 BUTTON STYLES
**************************************************/

%button {
  display: block;
}

.top-button {
  @include border-top-radius(.5em);
  @include box-shadow(transparentize($black, .25) 0 0 5px);
  @include font-size(18);
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 3em;
  height: 3em;
  padding: 1em 1.5em;
  background-color: $top-button-bg;
  border: 3px solid $top-button-border;
  border-bottom: none;
  font-family: $button-font;
  color: $top-button-color;
  &.hide {
    bottom: -4em;
  }
  &:hover {
    background-color: $top-button-hover-bg;
    border-color: $top-button-border-hover;
    color: $top-button-hover-color;
  }
}