/**************************************************
 COMPASS STYLES
**************************************************/
/* 3d Transform Defaults */
/* Transition Defaults */
/* Color Contrast Defaults */
/**************************************************
 HELPERS
**************************************************/
/**************************************************
 FONT STACKS
**************************************************/
/**************************************************
 FONTS IN USE
**************************************************/
/**************************************************
 COLOR PALETTE
**************************************************/
/**************************************************
 COLORS IN USE
**************************************************/
/* Button Colors */
/* Header Colors */
/* Nav Colors */
/* About Colors */
/* Footer Colors */
/**************************************************
 SITE SPECIFIC VARIABLES
**************************************************/
/**************************************************
 COMPASS RESET
**************************************************/
/* line 5, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**************************************************
 ADDITIONAL RESET STYLES
**************************************************/
/* line 11, ../sass/01helpers/reset.scss */
audio:not([controls]) {
  display: none; }

/* line 12, ../sass/01helpers/reset.scss */
[hidden] {
  display: none; }

/* line 13, ../sass/01helpers/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 15, ../sass/01helpers/reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

/* line 16, ../sass/01helpers/reset.scss */
address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

/* line 17, ../sass/01helpers/reset.scss */
a {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* line 18, ../sass/01helpers/reset.scss */
a:hover, a:active {
  outline: none; }

/* line 19, ../sass/01helpers/reset.scss */
img, object, embed {
  max-width: 100%;
  height: auto !important;
  border: 0; }
  /* line 19, ../sass/01helpers/reset.scss */
  .ie8 img, .ie8 object, .ie8 embed {
    width: auto; }

/* line 20, ../sass/01helpers/reset.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 22, ../sass/01helpers/reset.scss */
ins {
  color: #1a1a1a;
  text-decoration: none; }

/* line 23, ../sass/01helpers/reset.scss */
mark {
  color: #1a1a1a; }

/* line 24, ../sass/01helpers/reset.scss */
del {
  text-decoration: line-through; }

/* line 25, ../sass/01helpers/reset.scss */
abbr {
  cursor: help; }

/* line 26, ../sass/01helpers/reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* line 27, ../sass/01helpers/reset.scss */
table {
  font-size: inherit;
  font: 100%; }

/* line 28, ../sass/01helpers/reset.scss */
th {
  font-weight: bold;
  vertical-align: bottom; }

/* line 29, ../sass/01helpers/reset.scss */
td, td img {
  vertical-align: top; }

/* line 30, ../sass/01helpers/reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #666666;
  margin: 1em 0;
  padding: 0; }

/* line 31, ../sass/01helpers/reset.scss */
input, select {
  vertical-align: middle; }

/* line 33, ../sass/01helpers/reset.scss */
em, i {
  font-style: italic; }

/* line 34, ../sass/01helpers/reset.scss */
strong, b {
  font-weight: bold; }

/* line 35, ../sass/01helpers/reset.scss */
em > strong, strong > em {
  font-weight: bold;
  font-style: italic; }

/* line 37, ../sass/01helpers/reset.scss */
small {
  font-size: .85em; }

/* line 38, ../sass/01helpers/reset.scss */
sub, sup {
  font-size: .75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 39, ../sass/01helpers/reset.scss */
sup {
  top: -0.5em; }

/* line 40, ../sass/01helpers/reset.scss */
sub {
  bottom: -0.25em; }

/* line 42, ../sass/01helpers/reset.scss */
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

/* line 43, ../sass/01helpers/reset.scss */
pre, code, kbd, samp {
  font-family: "courier new", monospace, serif;
  font-size: 1em; }

/* line 44, ../sass/01helpers/reset.scss */
textarea {
  overflow: auto; }

/* line 45, ../sass/01helpers/reset.scss */
.clickable, label, input[type='button'], input[type='submit'], button, a {
  cursor: pointer; }

/* line 46, ../sass/01helpers/reset.scss */
input[type="radio"] {
  vertical-align: text-bottom; }

/* line 47, ../sass/01helpers/reset.scss */
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

/* line 48, ../sass/01helpers/reset.scss */
select, input, textarea {
  font: 99% sans-serif; }

/* line 49, ../sass/01helpers/reset.scss */
button {
  width: auto;
  overflow: visible; }

/* line 50, ../sass/01helpers/reset.scss */
button, input, select, textarea {
  margin: 0; }

/* line 51, ../sass/01helpers/reset.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* line 52, ../sass/01helpers/reset.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/**************************************************
 CONVERT PIXELS TO EMS
**************************************************/
/**************************************************
 FONT SIZE
**************************************************/
/**************************************************
 RETINA IMAGES
**************************************************/
/**************************************************
 IMAGE REPLACEMENT
**************************************************/
/**************************************************
 BREAKPOINTS
**************************************************/
/**************************************************
 CLEAR FIX
**************************************************/
/* line 5, ../sass/01helpers/extends.scss */
header .content {
  zoom: 1; }
  /* line 7, ../sass/01helpers/extends.scss */
  header .content:before, header .content:after {
    display: table;
    visibility: hidden;
    content: ""; }
  /* line 13, ../sass/01helpers/extends.scss */
  header .content:after {
    clear: both; }

/**************************************************
 SITE COLUMN
**************************************************/
/* line 22, ../sass/01helpers/extends.scss */
header .content, header nav ol, #about article, footer .content {
  min-width: 810px;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto; }

/**************************************************
 BASE
**************************************************/
/**************************************************
 VANITY STYLES
**************************************************/
/* line 5, ../sass/02base/general.scss */
::selection {
  background: rgba(5, 18, 255, 0.5);
  text-shadow: none;
  color: #1a1a1a; }

/* line 6, ../sass/02base/general.scss */
::-moz-selection {
  background: rgba(5, 18, 255, 0.5);
  text-shadow: none;
  color: #1a1a1a; }

/* line 7, ../sass/02base/general.scss */
img::selection {
  background: transparent; }

/* line 8, ../sass/02base/general.scss */
img::-moz-selection {
  background: transparent; }

@media only screen and (max-device-width: 480px) {
  /* line 11, ../sass/02base/general.scss */
  html {
    -webkit-text-size-adjust: none; }

  /* line 12, ../sass/02base/general.scss */
  a:link {
    -webkit-tap-highlight-color: rgba(5, 18, 255, 0.5); } }
/**************************************************
 BASE STYLES
**************************************************/
/* line 19, ../sass/02base/general.scss */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 25, ../sass/02base/general.scss */
html {
  font-size: 62.5%; }

/* line 29, ../sass/02base/general.scss */
body {
  font-family: "Georgia", serif;
  background-color: white; }

/* line 34, ../sass/02base/general.scss */
body, select, input, textarea {
  color: #1a1a1a; }

/* line 38, ../sass/02base/general.scss */
section {
  padding: 9em 6em; }

/**************************************************
 DEFAULT TYPE STYLES
**************************************************/
/* line 5, ../sass/02base/type.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: playfair-display, serif; }

/* line 9, ../sass/02base/type.scss */
h1 {
  font-size: 42px;
  font-size: 4.2rem; }

/* line 13, ../sass/02base/type.scss */
h2 {
  font-size: 36px;
  font-size: 3.6rem; }

/* line 17, ../sass/02base/type.scss */
h3 {
  font-size: 24px;
  font-size: 2.4rem; }

/* line 21, ../sass/02base/type.scss */
p, li, address {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.4; }

/* line 26, ../sass/02base/type.scss */
p {
  margin-bottom: 1em; }

/* line 31, ../sass/02base/type.scss */
li {
  margin-bottom: .25em; }

/* line 36, ../sass/02base/type.scss */
ol {
  list-style: decimal; }

/* line 37, ../sass/02base/type.scss */
ul {
  list-style: square; }

/* line 39, ../sass/02base/type.scss */
ol,
ul {
  margin: 1em 0 1em 2.5em; }

/**************************************************
 DEFAULT LINK STYLES
**************************************************/
/* line 52, ../sass/02base/type.scss */
a {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #999999;
  text-decoration: none; }
  /* line 56, ../sass/02base/type.scss */
  a:hover, a:focus {
    color: #666666; }

/**************************************************
 COMPONENTS
**************************************************/
/**************************************************
 BUTTON STYLES
**************************************************/
/* line 9, ../sass/03components/buttons.scss */
.top-button {
  -moz-border-radius-topleft: 0.5em;
  -webkit-border-top-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  -moz-border-radius-topright: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  border-top-right-radius: 0.5em;
  -moz-box-shadow: rgba(26, 26, 26, 0.75) 0 0 5px;
  -webkit-box-shadow: rgba(26, 26, 26, 0.75) 0 0 5px;
  box-shadow: rgba(26, 26, 26, 0.75) 0 0 5px;
  font-size: 18px;
  font-size: 1.8rem;
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 3em;
  height: 3em;
  padding: 1em 1.5em;
  background-color: #0512ff;
  border: 3px solid #000784;
  border-bottom: none;
  font-family: playfair-display, serif;
  color: white; }
  /* line 24, ../sass/03components/buttons.scss */
  .top-button.hide {
    bottom: -4em; }
  /* line 27, ../sass/03components/buttons.scss */
  .top-button:hover {
    background-color: #333333;
    border-color: #1a1a1a;
    color: white; }

/**************************************************
 FORM STYLES
**************************************************/
/**************************************************
 MODULES
**************************************************/
/**************************************************
 HEADER STYLES
**************************************************/
/* line 5, ../sass/04modules/header.scss */
header {
  position: relative;
  border-top: 10px solid #e6e6e6;
  padding: 0 6em 4.8em; }
  /* line 9, ../sass/04modules/header.scss */
  header .content {
    padding: 18em 0; }
  /* line 14, ../sass/04modules/header.scss */
  header h1 {
    float: left;
    overflow: hidden;
    height: 0;
    width: 290px;
    padding-top: 70px;
    background: url("../img/logo/carrottllc-logo.png") 0 0 no-repeat; }
  /* line 22, ../sass/04modules/header.scss */
  header h2 {
    font-size: 18px;
    font-size: 1.8rem;
    margin: 36px 0 0 320px;
    color: #999999; }
  /* line 27, ../sass/04modules/header.scss */
  header nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333333; }
    /* line 33, ../sass/04modules/header.scss */
    header nav.sticky {
      position: fixed;
      top: 0;
      bottom: auto; }
    /* line 38, ../sass/04modules/header.scss */
    header nav ol {
      margin-top: 0;
      margin-bottom: 0;
      list-style: none; }
    /* line 44, ../sass/04modules/header.scss */
    header nav li {
      float: left;
      width: 16.66%;
      margin: 0; }
    /* line 49, ../sass/04modules/header.scss */
    header nav a {
      display: block;
      height: 3em;
      padding: .825em 0 0;
      color: white;
      font-family: playfair-display, serif;
      text-align: center; }
      /* line 56, ../sass/04modules/header.scss */
      header nav a:hover {
        background-color: #0512ff;
        color: white; }

/**************************************************
 ABOUT SECTION STYLES
**************************************************/
/* line 5, ../sass/04modules/about.scss */
#about {
  background-color: #9ea3ff;
  color: #00066b; }

/**************************************************
 ABOUT SECTION STYLES
**************************************************/
/* line 5, ../sass/04modules/benefits.scss */
#about {
  background-color: #9ea3ff;
  color: #00066b; }

/**************************************************
 ABOUT SECTION STYLES
**************************************************/
/* line 5, ../sass/04modules/cases.scss */
#about {
  background-color: #9ea3ff;
  color: #00066b; }

/**************************************************
 ABOUT SECTION STYLES
**************************************************/
/* line 5, ../sass/04modules/bios.scss */
#about {
  background-color: #9ea3ff;
  color: #00066b; }

/**************************************************
 ABOUT SECTION STYLES
**************************************************/
/* line 5, ../sass/04modules/publications.scss */
#about {
  background-color: #9ea3ff;
  color: #00066b; }

/**************************************************
 ABOUT SECTION STYLES
**************************************************/
/* line 5, ../sass/04modules/contact.scss */
#about {
  background-color: #9ea3ff;
  color: #00066b; }

/**************************************************
 FOOTER STYLES
**************************************************/
/* line 5, ../sass/04modules/footer.scss */
footer {
  padding: 1.5em 6em;
  background-color: #0512ff; }
  /* line 11, ../sass/04modules/footer.scss */
  footer p {
    margin: 0; }
