/**************************************************
 FONT STACKS
**************************************************/

$serif: 'Georgia', serif;
$sans-serif: 'Helvetica Neue', Helmet, Freesans, sans-serif;
$monospace: 'courier new', monospace, serif;

$playfair: 'Playfair Display', $serif;
$lora: 'Lora', $serif;

/**************************************************
 FONTS IN USE
**************************************************/

$body-font: $lora;
$headline-font: $playfair;
$nav-font: $playfair;
$button-font: $playfair;
$code-font: $monospace;

/**************************************************
 COLOR PALETTE
**************************************************/

$black: #1a1a1a;
$x-dk-gray: #333;
$dk-gray: #666;
$gray: #999;
$lt-gray: #ccc;
$x-lt-gray: #e6e6e6;
$white: #fff;

$purple: #632E99;
$dk-purple: #39264D;
$lt-purple: #E4DAF2;

/**************************************************
 COLORS IN USE
**************************************************/

$body-text: $black;
$body-bg: $white;

$selection-text: $lt-purple;
$selection-bg: transparentize($purple, 0.5);

$link-color: lighten($dk-purple, 20%);
$link-hover: lighten($dk-purple, 45%);

$border-color: $dk-gray;

/* Header Colors */
$boder-top: $x-lt-gray;
$sub-head-color: $gray;

/* Nav Colors */
$nav-bar-bg: $white;
$nav-border-bottom: $x-lt-gray;
$nav-link-color: $white;
$nav-link-bg: $x-dk-gray;
$nav-link-hover-color: $white;
$nav-link-hover-bg: $purple;

/* Footer Colors */
$footer-bg: darken($dk-purple, 15%);
$footer-text: $gray;

/**************************************************
 SITE SPECIFIC VARIABLES
**************************************************/

$base-size: 10;
$side-padding: 9em;